* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  height: 100%;
  overflow-x: hidden;
}

a:link {
  color: #2727d1;
}

a:visited {
  color: #2727d1;
}
